.button {
    width: 8vw;
    min-width: 150px;
    padding: 6px 20px;
    border-radius: 50px;
    border: 2px solid var(--text-primary);
    color: var(--text-primary);
    background: none;
    transition: 0.3s ease-in;
    &:hover {
        background-color: var(--text-primary);
        color: var(--background-secondary);
    }
    &__text {
        font-size: min(max(16px, 1vw), 60px);
    }
    &_card {
        position: absolute;
        bottom: 40px;
    }  
    &_mobile {
        display: none;
    } 
}