.promo {
    position: relative;
    overflow: hidden;
    z-index: 0;
    min-height: calc(90vh - 9vh);
    margin-top: 9vh;
    background-color: var(--background-secondary);
    padding: 13vh 0 20vh 0;
    &__wrapper {
        max-width: 50%;
    }
    &__title {
        font-size: min(max(60px, 6vw), 300px);
        text-transform: uppercase;
    }
    &__subtitle {
        padding: 3vh 0 5vh 0;
    }
    &__deeds {
        display: flex;
        justify-content: space-between;
        max-width: 60%;
    }
    &__main-img {
        position: absolute;
        transform: scale(-1, 1);
        top: 10vh;
        right: 0;
        z-index: -1;
        width: 50%;
        height: 50vh;
        background: url('../img/promo.svg') center (center/contain) no-repeat;
    }
}